<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>

  
    <add name="AccountingConsumables"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Current Language=Russian;Column Encryption Setting=Disabled ;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>